@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+CU:wght@100..400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Caveat; */
    font-family: Montserrat;
    scroll-behavior: smooth;
}
body {
    background-color: white;
}
nav {
    width: 100%;
    z-index: 99;
    position: fixed;
    height: 90px;
    color: white;
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    align-items: center;
}
nav ul {
    display: flex;
    gap: 50px;
}
nav ul li {
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
.toggle {
    display: none;
}
.toggle i {
    font-size: 40px;
    cursor: pointer;
}
.container {
    height: 100vh;
    flex-direction: column;
    background-color: white;
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.425);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h1 {
    letter-spacing: 10px;
}
.banner {
    background-image: url('./image/banner.jpg');
    height: 70vh;
    background-color: aliceblue;
    background-size: cover;
    filter: brightness(50%);
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    background-position: center;
    width: 100%;
}
.about {
    width: 70%;
    position: absolute;
    text-align: center;
    color: white;
}
.Learn_More a {
    font-size: 20px;
    padding: 10px;
    background-color: rgba(37, 148, 37, 0.555);
    border-radius: 10px;
    font-weight: 700;
    gap: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.801);
}
.sidebar {
    display: none;
}





/* jenis baju  */

.container2 {
    height: 100vh;
    flex-direction: column;
    width: 100%;
    display: flex;
    gap: 120px;
    justify-content: center;
    align-items: center;
    
}

.jenis_baju {
    height: auto;
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-flow: wrap row;
    gap: 50px;
}

.dress {
    height: 200px;
    border-radius: 10px;
    opacity: 1;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.dress:hover {
    opacity: 0.8;
    height: 200px;
    cursor: pointer;
    transform: scale(1.05);
}
iframe {
    height: 400px;
    width: 400px;
    border-radius: 10px;
}
.map {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    color: white;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

footer {
    text-align: center;
}
footer p {
    font-size: 20px;
    font-weight: 700;
}

/* jenis baju  end */


@media screen and (max-width:740px) {

    nav {

        background-color: rgba(0, 0, 0, 0.425);
    }

    .container2 {
        height: 100vh;
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        color: black;
        align-content: center;
        align-items: center;
        background-color: white;
    }

    .jenis_baju {
        height: auto;
        align-content: center;
        display: flex;
        background-color: white;
        width: 80%;
        align-content: center;
        height: auto;
        justify-content: center;
        align-items: center;
        flex-flow: wrap row;
    }

    .banner {
        background-image: url('./image/banner.jpg');
        height: 100vh;
        background-size: cover;
        opacity: 0.9;
        width: 100%;
    }
    .about {
        position: absolute;
        text-align: center;
    }
    .about h1 {
        color: white;
        font-size: 15px;
        z-index: 99;
    }
    .Learn_More a {
        font-size: 20px;
        padding: 10px;
        background-color: rgba(37, 148, 37, 0.555);
        border-radius: 10px;
        font-weight: 700;
        gap: 10px;
        z-index: 99;
        align-items: center;
        justify-content: center;
        display: flex;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.801);
    }
    .toggle {
        display: flex;
    }
    .toggle i {
        display: flex;
        font-size: 25px;
    }
    .title {
        letter-spacing: 2px;
        font-size: 15px;
    }
    .dress {
        height: 150px;
        opacity: 1;
        cursor: pointer;
        transition: .2s ease-in-out;
    }
    .dress:hover {
        opacity: 0.8;
        height: 150px;
        cursor: pointer;
        transform: scale(1.05);
    }
    nav ul {
        display: none;
    }

    
.sidebar {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: -800px;
    width: 100%;
    transition: .4s ease-in-out;
    z-index: 90;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.534);
}
.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.sidebar ul li {
    list-style-type: none;
}
.sidebar ul li a {
    text-decoration: none;
    color: white;
}
.sidebar2 {
    margin-left: 0;

}

iframe {
    height: 450px;
    width: 80%;
}
.map {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    color: white;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

footer p {
    font-size: 10px;
}

}
@media screen and (max-width:360px) {

    nav {

        background-color: rgba(0, 0, 0, 0.425);
    }

    .container2 {
        height: 100vh;
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        color: black;
        align-content: center;
        align-items: center;
        background-color: white;
    }
    .container2 h1 {
        font-size: 20px;
    }

    .jenis_baju {
        height: auto;
        align-content: center;
        display: flex;
        background-color: white;
        width: 80%;
        align-content: center;
        height: auto;
        justify-content: center;
        align-items: center;
        flex-flow: wrap row;
    }

    .banner {
        background-image: url('./image/banner.jpg');
        height: 100vh;
        background-size: cover;
        opacity: 0.9;
        width: 100%;
    }
    .about {
        position: absolute;
        text-align: center;
    }
    .about h1 {
        color: white;
        font-size: 15px;
        z-index: 99;
    }
    .Learn_More a {
        font-size: 20px;
        padding: 10px;
        background-color: rgba(37, 148, 37, 0.555);
        border-radius: 10px;
        font-weight: 700;
        gap: 10px;
        z-index: 99;
        align-items: center;
        justify-content: center;
        display: flex;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.801);
    }
    .toggle {
        display: flex;
    }
    .toggle i {
        display: flex;
        font-size: 25px;
    }
    .title {
        letter-spacing: 2px;
        font-size: 15px;
    }
    .dress {
        height: 120px;
        opacity: 1;
        cursor: pointer;
        transition: .2s ease-in-out;
    }
    .dress:hover {
        opacity: 0.8;
        height: 120px;
        cursor: pointer;
        transform: scale(1.05);
    }
    nav ul {
        display: none;
    }

    
.sidebar {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: -800px;
    width: 100%;
    transition: .4s ease-in-out;
    z-index: 90;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.534);
}
.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.sidebar ul li {
    list-style-type: none;
}
.sidebar ul li a {
    text-decoration: none;
    color: white;
}
.sidebar2 {
    margin-left: 0;

}

iframe {
    height: 450px;
    width: 80%;
}
.map {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    color: white;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

footer p {
    font-size: 10px;
}

}